*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*/bin/*
/it.unibz.udig.omtg.cd.model.edit/
/it.unibz.udig.omtg.cd.model.editor/
/it.unibz.udig.omtg.pd.model.edit/
/it.unibz.udig.omtg.pd.model.editor/
/it.unibz.udig.omtg.td.model.edit/
/it.unibz.udig.omtg.td.model.editor/
