<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="it.unibz.udig.omtg.gef.editor.OMTTransformationDiagramEditor"
            contributorClass="it.unibz.udig.omtg.gef.OMTGraphicalEditorActionBarContributor"
            default="false"
            extensions="td"
            id="it.unibz.udig.omtg.td.gef.editorID"
            name="OMT Transformation Diagram Editor">
      </editor>
   </extension>

</plugin>
